
.lookup-form{
    max-width: 974px;
    margin: 0 auto;
    min-height: 40vh;
    justify-content: center;
    align-content: center;
    display: flex;
}

.lookup-column{
    margin: 10px;
}

.button-column {
    margin: 10px;
}
