
.results {
    max-width: 100%;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0px; padding: 0px; border: 0px;
    color: #5a5a5a;
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
    font-family: 'Roberto', sans-serif;

    background-color: #ddf;

    &__cardsection {
        width: 100%;
        max-width: 1000px;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        margin: 0px; padding: 0px; border: 0px;
    }

    &__noresults {
        color: #b5b5b5;
        display: inline-flex;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        height: 100%;
        width: 100%;
        max-width: 1000px;
        &__top{
            font-size: 27px;
            width: 100%;
            padding: 12px;
        }
        &__bottom{
            font-size: 16px;
            width: 100%;
        }
    }
}
