
.divider {
    font-weight: 700;
    color: #5a5a5a;
    font-size: 14px;
    font-family: 'Roberto', sans-serif;

    display: inline-block;
    margin: 0 auto;
    padding: 0;

    width: 1000px;

    position: relative;

    &__header {
        width: 300px;
        position: absolute;
        left: 350px;
        top: -20px;
    }

    &__time {
        position: absolute;
        right: 50px;
        top: -20px;

        &__hidden {
            display: none;
        }
    }

    &__refresh {
        color: #7B61FF;
        size: 14px;
        position: absolute;
        right: 5px;
        top: -22px;
        
        &:hover {
            cursor: pointer;
        }

        &__hidden {
            visibility: hidden;
            cursor: default;
        }
    }
}

.bar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    &__bar {
        width: 1000px;
        height: 2px;
        margin-bottom: 20px;
        background-color: #0560E8;
    }
}
