
.pricecard {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 10px;
    border-width: 0.5px;
    border-style: solid;
    border-color: #ccc;
    box-shadow: 4px;
    margin: 10px;
    max-height: 110px;
    max-width: 231px;
    min-height: 110px;
    min-width: 231px;

    &__heading{
        color: #0560E8;
        font-weight: 500;
        font-size: 18px;
        position: relative;
        padding: 0;
        margin: 0;
        display: flex;
        white-space: nowrap;
        top: 20px;
        left: 20px;
    }

    &__price{
        font-weight: 300;
        font-size: 32px;
        display: flex;
        text-align: left;
        padding: 0;
        margin: 0;
        color: #000;
        white-space: nowrap;
        position: relative;
        top: 20px;
        left: 20px;
    }

    &__timestamp{
        font-weight: 500;
        font-size: 14px;
        display: flex;
        text-align: left;
        padding: 0;
        margin: 0;
        color: #5a5a5a;
        white-space: nowrap;
        position: relative;
        top: 3px;
        left: 165px;
    }
}
